body{
	background-color: #f1f1f1;
}

.logo{
	margin-top: 3.125em;
	text-align: center;
}

.search{
	text-align: center;
	padding: 40px 0 40px 0;
}

.reference-getter input[name="tags"]{
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 1.125em;
	margin-bottom: 20px;
	height: 40px;
	width: 338px;
	border: 2px #191919 solid;
	text-align: center;
	color: #191919;
}

.reference-getter input[type="submit"]{
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 1.375em;
	height: 40px;
	width: 100px;
	background-color: #dbdbdb;
	border: 1px #191919 solid;
	color: #191919;
	cursor: pointer;
	-webkit-transition: color, background-color 0.6s;
	transition: color, background-color 0.6s;
}

.reference-getter input[type="submit"]:hover{
	background-color: #191919;
	color: #dbdbdb;
}

.results{
	max-width: 57.5em;
	margin: 0 auto;
	background-color: #dbdbdb; /* delete */
}

.reference{
	background-color: #fff;
	width: 220px;
	border: 1px #c7c7c7 solid;
	border-radius: 5px;
	padding-bottom: 10px;
	margin: 0 5px 10px 5px;
	text-align: center;
	display: inline-block;
}

.reference figure{
	text-align: center;
	margin: 9px 0 10px 0;
}

.reference img{
	border: 1px #c7c7c7 solid;
}

.reference-name a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 0.875em;
	text-decoration: none;
	color: #191919;
}

.reference-name a:hover{
	text-decoration: underline;
}

.reference-name{
	margin-bottom: 5px;
}

.artist-name a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 0.75em;
	text-decoration: none;
	color: #191919;
}

.artist-name a:hover{
	text-decoration: underline;
}

.hidden{
	display: none;
}

/* MOBILE */

@media screen and (max-width: 960px){
	.results{
		max-width: 43.125em;
		margin: 0 auto;
	}
}

@media screen and (max-width: 712px){
	.results{
		max-width: 28.75em;
		margin: 0 auto;
	}
}

@media screen and (max-width: 460px){
	.logo img{
		width: 70%;
		height: 70%;
	}

	.reference-getter input[name="tags"]{
		width: 70%;
	}
	
	.results{
		max-width: 14.375em;
		margin: 0 auto;
	}
}